
.main {position: relative;
    width: 540px;
    height: 30px;
    margin-top: 50px;
    margin-left: 400px;
background-color: gainsboro;}



.iv1 { margin-top: 6px;
    margin-left: 30px;
    position: absolute;
    width: 480px;
    height: auto;
    font-family: sans-serif;
    text-align: center;
    
    }

a, span{padding-left: 6px;
    padding-right: 6px;
 color: #a64dff;
text-decoration: none;
    font-size: 13px;
}

    .cif {border: 1px #a64dff solid;
        border-radius: 7px;
    }
.bifo:before {content: "<<";}
.afta:after {content: ">>";}

a:hover {background-color:#a64dff;
    color: white;
    
}

.bifo, .afta {font-size: 12px;
}
