div.menu {width: 100%;
    height: auto;
    background: #1aa4ff;
font-family: sans-serif;
    margin: 0;
    
}
ul {margin-left: 30px;}

li {display: inline-block;
   padding-left: 22px;
    padding-right: 22px;
    list-style: none;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a {text-decoration: none;
color: white;
font-weight: bold;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

a.menu_item {text-decoration: none;
color: white;}

li:hover a {color: #9f9fa1;
    background-color: #eeeeee;
    
}

li:hover {color: #9f9fa1;
    background-color: #eeeeee;
}

.menu_bottom {display: none;}

.menu ul li:hover .menu_bottom
{
    display: block;
}

.menu_bottom
{
    position: fixed;
    top: 60px;
    left: 0;

    display: none;
    font-size: 16px;

    width: 100%;
    height: auto;

    background-color: rgb(238, 238, 238);
    -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, .3);
       -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, .3);
            box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, .3);
}
.menu_bottom ul li a {color:#9f9fa1;
    background-color: #eeeeee;
}