.container {position: relative;
    width: 350px;
    height: auto;
background-color: #ee8129;
    font-family: Trebuchet MS;
    border-radius: 4px;
    padding-top: 30px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    box-shadow: 0 0 5px;
}

.header {
    font-size: 34px;
    color: white;
    text-align: center;
}
.rame {margin-top: 34px;
    background-color: white;
    padding: 10px; 
}
.ramhead {text-align: center;
margin-top: 24px;
font-size: 34px;}

.ramprice {text-align: center;
    margin-top: 24px;
    font-size: 28px;
}

span {font-size: 52px;
font-weight: bold;
}
 
sup {vertical-align: top;}

ul {font-size: 24px;
    text-align: left;
padding: 0;
margin-top: 20px;
}

li {list-style-type: none;
    margin-bottom: 2px;
    opacity: 0.5;
}
li:nth-child(odd) {background-color: #edf5fd;}
li:nth-child(even) {background-color: #f5f5f6;}
li:before {content: url(marker.png);
    padding-right: 20px;
padding-left: 30px;
}

button {color: white;
    text-align: center;
width: 255px;
    height: 40px;
background-color:  #ee8129;
border-radius: 6px;
margin-left: 36px;
margin-bottom: 30px;
font-size: 20px;
    border-style: outset;
}